<div class="e-tabs mb-3 px-3">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" href="index.html" id="customerLg">Customer</a></li>
    <li class="dropdown">
      <button class="nav-link active dropdown-toggle" type="button" id="language" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Language
      </button>
      <div class="dropdown-menu" aria-labelledby="language">
        <a id="english" class="dropdown-item" href="#">English</a>
        <a id="vietnamese" class="dropdown-item" href="#">VietNamese</a>
      </div>
    </li>
  </ul>
</div>
